{% extends 'base_news.html' %}

{% load gravatar %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="container">
    <div class="card">
        <div class="card-header text-center"><h1>{{ post.title }}</h1></div>
        <div class="card-body">
            <div class="row"><img class="img-fluid news-post-image" src="{{ post.image.url }}"/></div>
            <div class="row">{{ post.text }}"</div>

        </div>
        <div class="card-footer">
        <h4>Comment on the post</h4>
            {% if user %}
                <form method="post" action="{% url 'comment' post.pk %}" class="mb-4">
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success">Post a comment</button>
                </form>
            {% else %}
                Please login to comment...
            {% endif %}
            <hr/>


            {% if comments|length > 0 %}

                {% for comment in comments %}
        <div id="{{ comment.pk }}" class="card mb-2">

            <div class="card-body p-3">
                <div class="row">
                    <div class="col-2">
                        <img src="{{ comment.created_by|gravatar }}" alt="{{ comment.created_by.username }}"
                             class="w-100 rounded">
                        <small>Comments: {{ comment.created_by.comments.count }}</small>
                    </div>
                    <div class="col-10">
                        <div class="row mb-3">
                            <div class="col-6">
                                <strong class="text-muted">{{ comment.created_by.username }}</strong>
                            </div>
                            <div class="col-6 text-right">
                                <small class="text-muted">{{ comment.created_at }}</small>
                            </div>
                        </div>
                        <p>{{ comment.subject }}</p>
                        {{ comment.text }}

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

            {% else %}
                -- No Comments --
            {% endif %}

        </div>
    </div>
    </div>


{% endblock %}